
<html>
    <head>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" charset="UTF-8"></script></head>
    <body>
        <h1>開発デバッグ用トップ画面。ここから各ステークホルダー個別の画面飛んでもろもろ確認してください。この画面はユーザーには開放しません。</H1><br>
        
<h1><center>
        <a href="./f/f-top">現場担当者画面</a><br>
        <a href="./c/c-top">コーディネータ画面</a><br>
        <a href="./v/v-top">ボランティア画面</a><br>
</h1></center>

    </body>
</html>