<!DOCTYPE html>
<html>

<head>
    <title>f-top</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
<link rel="stylesheet" href="/css/common.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
    <script src="/js/show-menu.js"></script>
    <script src="/js/show-menu.js"></script>
</head>

<body>

    <!-- menu icon -->
    <script>show_i18n();</script>

    <div class="uk-padding">
        <!-- title -->
        <div class="uk-section-xsmall uk-section-primary">
            <div class="uk-text-center uk-flex-middle">
                <div class="uk-text-large">新規ボランティア登録案内</div>
            </div>
        </div>

        <div class="uk-text-center">
            ここにQRコード表示します。読み取るとボランティアさんの新規登録画面に飛びます。
        </div>

    </div>

</html>
