<!DOCTYPE html>
<html>

<head>
    <title>c-completed-task-list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
          <link rel="stylesheet" href="/css/common.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
      <script src="/js/show-menu.js"></script>
</head>

<body>

    <!-- menu icon -->
    <script>show_i18n();</script>

    <div class="uk-padding">

        <!-- title -->
        <div class="uk-section-xsmall uk-section-primary">
            <div class="uk-text-center uk-flex-middle ">
                <div class="uk-text-large">完了済みタスク一覧</div>
            </div>
        </div>

        <!-- selecter -->
        <div class="uk-section-xsmall uk-section-default">
                <div class="uk-padding uk-padding-remove-vertical">
                    <form>
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <div class="uk-flex uk-flex-middle uk-flex-right uk-grid-small">
                                    <div>
                                            <input class="uk-input" type="text" placeholder="検索語句を入力">
                                    </div>

                                    <div>
                                        <button class="uk-button  uk-form-small uk-button-default">絞込む</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        <div class="uk-margin-small uk-text-center">担当案件</div>
        <div class="uk-section-xsmall uk-section-muted">
            <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-3@m uk-flex-middle uk-text-center uk-grid-match"
                uk-grid>

                <!-- info card-->
                <div>
                        <div class="uk-card-small uk-card-default uk-card-body status-completed div-a card-with-badge">
                            <div class="uk-flex">
                                <div class="badge-of-card">
                                    岡崎避難所
                                </div>
                            </div>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle"　 uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        <span uk-icon="icon:check; ratio:1.3"></span>
                                    </div>
                                </div>

                                <div class="uk-width-expand">

                                    <div class="uk-text-break">
                                        おむつが足りない
                                    </div>
                                </div>
                            </div>
                            <a href="./c-task-detailtaskid=100"></a>
                        </div>
                    </div>

                <!-- info card-->
                <div>
                    <div class="uk-card-small uk-card-default uk-card-body status-completed div-a card-with-badge">
                        <div class="uk-flex">
                            <div class="badge-of-card">
                                六ツ美避難所
                            </div>
                        </div>
                        <div class="uk-grid-divider  uk-grid-small uk-flex-middle"　 uk-grid>
                            <div class="uk-width-auto">
                                <div class="uk-text-break">
                                    <span uk-icon="icon:check; ratio:1.3"></span>
                                </div>
                            </div>

                            <div class="uk-width-expand">
                                <div class="uk-text-break">
                                    授乳スペースがない
                                </div>
                            </div>
                        </div>
                        <a href="./c-task-detailtaskid=100"></a>
                    </div>
                </div>
            </div>
        </div>



        <hr class="uk-divider-icon">

        <!-- Back -->
        <div class="uk-section-xsmall uk-section-muted uk-text-center">
            <div class="uk-flex uk-flex-middle uk-flex-center">
                <p class="uk-margin">
                    <button onclick="history.back()"
                        class="uk-text-center uk-button-large uk-button-primary uk-width-auto">
                        <span uk-icon="icon: arrow-left; ratio:1"></span>&ensp; 戻る
                    </button>
                </p>
            </div>
        </div>



    </div>

</html>
