<!DOCTYPE html>
<html>

<head>
    <title>c-edit-prof</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
          <link rel="stylesheet" href="/css/common.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
        <script src="/js/show-menu.js"></script>
</head>

<body>

    <!-- menu icon -->
    <script>show_i18n();</script>

    <div class="uk-padding">

        <!-- title -->
        <div class="uk-section-xsmall uk-section-primary">
            <div class="uk-text-center uk-flex-middle ">
                <div class="uk-text-large">登録情報変更</div>
            </div>
        </div>


        <!-- profile -->
        <div class="uk-section-xsmall uk-section-default">
            <form>
                <fieldset class="uk-fieldset">
                    <ul class="uk-list uk-list-striped">
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        name
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text" placeholder="okazaki tarou">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        age
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text" placeholder="39">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        性別
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <div class="uk-margin">
                                            <select class="uk-select uk-form-width-small uk-form-small uk-form-blank">
                                                <option selected>男性</option>
                                                <option>女性</option>
                                                <option>無回答</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        専門・資格等
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="skills uk-text-break"> <input class="uk-input uk-form-blank"
                                                type="text" placeholder="防災士"></div>
                                        <div class="skills uk-text-break"> <input class="uk-input uk-form-blank"
                                                type="text" placeholder="治水"></div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        所属
                                    </div>
                                </div>
                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <div class="skills uk-text-break"> <input class="uk-input uk-form-blank"
                                                    type="text" placeholder="なになに大学"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        電話番号
                                    </div>
                                </div>
                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <div class="skills uk-text-break"> <input class="uk-input uk-form-blank"
                                                    type="text" placeholder="090-1234-5678"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        メールアドレス
                                    </div>
                                </div>
                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <div class="skills uk-text-break"> <input class="uk-input uk-form-blank"
                                                    type="text" placeholder="abc@def.com"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                </fieldset>
            </form>
        </div>

        <!-- Edit -->
        <div class="uk-section-xsmall uk-section-muted uk-text-center">
                <div class="uk-flex uk-flex-middle uk-flex-center">
                    <p class="uk-margin">
                        <button onclick="history.back()"
                            class="uk-text-center uk-button-large uk-button-primary uk-width-auto"><span
                                uk-icon="icon: arrow-left; ratio:1"></span>&ensp; キャンセル
                        </button>
                        <button onclick="location.href='./v-edit-prof.html'"
                            class="uk-text-center uk-button-large uk-button-primary uk-width-auto"><span
                                uk-icon="icon: file-edit; ratio:1"></span>&ensp; 確定
                        </button>
                    </p>
                </div>



    </div>

</html>
