<!DOCTYPE html>
<html>

<head>
    <title>v-ans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
<link rel="stylesheet" href="/css/common.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
        <script src="/js/show-menu.js"></script>
</head>

<body>

    <!-- menu icon -->
    <script>show_i18n();</script>

    <div class="uk-padding">



        <!-- title -->
        <div class="uk-section-xsmall uk-section-primary">
            <div class="uk-text-center uk-flex-middle ">
                <div class="uk-text-large">この課題に従事しますか？</div>
            </div>
        </div>



        <div class="uk-section-xsmall uk-section-muted">
            <div class="uk-padding uk-padding-remove-bottom">


                <form>
                    <fieldset class="uk-fieldset">

                            <div class="uk-margin uk-text-center">
                                    <button onclick="" class="uk-button uk-button-default">従事する</button>
                                </div>

                                <div class="uk-margin uk-text-center">
                                        <button onclick="" class="uk-button uk-button-default">従事しない</button>
                                    </div>

                                    <hr class="uk-divider-icon">
                        <div class="uk-margin">
                            <div class="uk-grid-small uk-flex uk-flex-middle" uk-grind>
                                <div class="uk-width-expand">
                                    <textarea class="uk-textarea" rows="5"
                                        placeholder="その他、書きたい内容があればお書きください。"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin uk-text-center">
                            <button onclick="" class="uk-button uk-button-default">送信</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</html>
