<!DOCTYPE html>
<html>

<head>
    <title>v-edit-prof</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
<link rel="stylesheet" href="/css/common.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
    <script src="/js/show-menu.js"></script>
</head>

<body>

    <!-- menu icon -->
    <script>show_i18n();</script>

    <div class="uk-padding">

        <!-- title -->
        <div class="uk-section-xsmall uk-section-primary">
            <div class="uk-text-center uk-flex-middle ">
                <div class="uk-text-large">登録情報変更</div>
            </div>
        </div>

        <!-- profile -->
        <div class="uk-section-xsmall uk-section-default">
            <form>
                <fieldset class="uk-fieldset">
                    <ul class="uk-list uk-list-striped">
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            名前
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text"
                                            placeholder="岡崎　太郎">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            年齢
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text" placeholder="25">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            居住地
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text"
                                            placeholder="愛知県">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            電話番号
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text"
                                            placeholder="090-1234-5678">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            メール
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-text-break">
                                        <input class="uk-input uk-form-blank" type="text"
                                            placeholder="hoge@fuga.com">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                        職業（過去の経験職種も可）
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="skills uk-text-break">飲食関係</div>
                                        <div class="skills uk-text-break">流通</div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            特技
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="skills uk-text-break">英語</div>
                                        <div class="skills uk-text-break">将棋</div>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            向かう方面
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <input class="uk-input uk-form-blank" type="text" placeholder="愛知県西部">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            到着予定日
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <input class="uk-input uk-form-blank" type="text"
                                                placeholder="09-12-2019&ensp;12:00">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            twitter
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <input class="uk-input uk-form-blank" type="text" placeholder="hogefuga">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            ボランティア保険
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <input class="uk-input uk-form-blank" type="text" placeholder="加入済み">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            PR等
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <input class="uk-input uk-form-blank" type="text"
                                                placeholder="１０年間、近所の老人の傾聴活動に従事してきました。被災地でも心に寄り添う活動ができればと思っています。">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-divider  uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="uk-text-break">
                                            　車種等
                                    </div>
                                </div>

                                <div class="uk-width-expand">
                                    <div class="uk-flex uk-flex uk-flex-left">
                                        <div class="uk-text-break">
                                            <input class="uk-input uk-form-blank" type="text" 　
                                                placeholder="アルファード：白：札幌12-34">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </fieldset>
            </form>
        </div>

        <!-- Edit -->
        <div class="uk-section-xsmall uk-section-muted uk-text-center">
            <div class="uk-flex uk-flex-middle uk-flex-center">
                <p class="uk-margin">
                    <button onclick="history.back()"
                        class="uk-text-center uk-button-large uk-button-primary uk-width-auto"><span
                            uk-icon="icon: arrow-left; ratio:1"></span>&ensp; キャンセル
                    </button>
                    <button onclick="alert('データベース更新しますー。未実装ですー');"
                        class="uk-text-center uk-button-large uk-button-primary uk-width-auto"><span
                            uk-icon="icon: file-edit; ratio:1"></span>&ensp;確定
                    </button>
                </p>
            </div>



        </div>

</html>
