<!DOCTYPE html>
<html>

<head>
    <title>v-top</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
<link rel="stylesheet" href="/css/common.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
    <script src="/js/show-menu.js"></script>
</head>

<body>

    <!-- menu icon -->
    <script>show_i18n();</script>

    <div class="uk-padding">
        <!-- title -->
        <div class="uk-section-xsmall uk-section-primary">
            <div class="uk-text-center uk-flex-middle">
                <div class="uk-text-large">ボランティア</div>
            </div>
        </div>

        <div class="uk-section-xsmall uk-section-muted">
            <div class="uk-grid-small uk-child-width-auto uk-flex-middle uk-flex-column uk-text-center uk-grid-match uk-padding"
                uk-grid>
                <!-- info card-->
                <div>
                    <div class="uk-card-small uk-card-default uk-card-body div-a">
                        <span uk-icon="icon:pencil"></span>&ensp;新規登録
                        <a href="./v-register"></a>
                    </div>
                </div>
                <div>
                    <div class="uk-card-small uk-card-default uk-card-body div-a">
                        <span uk-icon="icon:sign-in"></span>&ensp;ログイン
                        <a href="./v-login"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</html>
